:root {
  --body-copy: black;
  --contrast: #208aae;
  --background: lightgrey;
  --type-b: #60492c;
  --type-c: firebrick;
}

body {
  background-color: var(--background);
  color: var(--body-copy);
}

input {
  background-color: var(--background);
  border-color: var(--type-c);
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 8px;
  padding: 8px;
}

button {
  background-color: var(--type-c);
  border-color: var(--type-b);
  border-radius: 8px;
  color: var(--background);
  font-size: 14px;
  padding: 4px;
}

input[type=checkbox] {
  height: 32px;
  width: 32px;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
}

.hidden {
  display: none;
}

.align-right {
  text-align: right;
}

.team-selection {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.team-button {
  margin-left: 32px;
}

.edit-row {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: space-between;
}

.checkbox-container {
  align-items: center;
  display: flex;
}

.group-header {
  font-size: 20px;
  font-weight: bold;
  margin: 0 16px 8px;
}

.group-players {
  background-color: lightgrey;
  border-radius: 8px;
  font-size: 24px;
  margin: 0 0 16px;
}

.group-player {
  margin: 4px;
}

.group-player:first-child {
  padding-top: 8px;
}

.group-player:last-child {
  padding-bottom: 16px;
}