:root {
  --body-copy: black;
  --contrast: #208aae;
  --background: lightgrey;
  --type-b: #60492c;
  --type-c: firebrick;
}

body {
  background-color: var(--background);
  color: var(--body-copy);
}

#main {
  margin: 0 auto;
  max-width: 720px;
}

input {
  background-color: var(--background);
  border-color: var(--type-c);
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 24px;
  margin-bottom: 8px;
  padding: 8px;
  width: 100%;
}

.flex-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: var(--type-c);
  border-color: var(--type-b);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--background);
  font-size: 24px;
  height: 48px;
  padding: 8px;
  text-align: center;
  width: 100%;
}

button.half {
  width: calc(50% - 6px);
}

input[type=checkbox] {
  height: 32px;
  width: 32px;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
}

.hidden {
  display: none;
}

.align-right {
  text-align: right;
}

.margin-top {
  margin-top: 8px;
}

.margin-bottom {
  margin-bottom: 8px;
}

.back-button {
  margin-bottom: 8px;
  width: 100px;
}

.import-button-container {
  border-top: 2px solid var(--body-copy);
  border-bottom: 2px solid var(--body-copy);
  margin: 16px 0;
  padding: 16px 0;
}

.import-input {
  width: calc(100% - 10px);
}

#export-data {
  padding: 16px 0;
}

#export-data-copy {
  display: none;
}

.team-selection {
  border-bottom: 2px solid var(--body-copy);
  margin: 16px 0;
  padding-bottom: 16px;
}

.team-buttons {
  display: flex;
}

.select-team-header {
  color: var(--type-c);
  font-size: 32px;
  font-weight: bold;
  height: 48px;
  text-align: center;
}

.select-team-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - 6px);
}

.select-team-column:first-child {
  margin-right: 8px;
}

.edit-row {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: space-between;
}

.times-not-played-name {
  width: 40%;
}

.times-not-played-input {
  width: 60%
}

.checkbox-container {
  align-items: center;
  display: flex;
}

#player-groups {
  font-size: 24px;
  font-weight: bold;
}

.halftime-splitter {
  font-size: 32px;
  font-weight: bold;
  margin: 32px;
  text-align: center;
}

.group-header {
  background-color: var(--type-c);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  color: var(--background);
  font-size: 28px;
  padding: 8px;
}

.group-players {
  background-color: var(--contrast);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 24px;
  margin: 0 0 16px;
}

.group-player {
  margin: 4px;
}

.group-player:first-child {
  padding-top: 8px;
}

.group-player:last-child {
  padding-bottom: 16px;
}